
*{
    margin: 0;
    padding: 0;
}

.banner-container{
    height: 100vh;
    background-image: url("/src/Components/images/bannerbackground.png");
    background-repeat: no-repeat;
    
    background-size: cover;
    
}

@media screen and (max-width: 688px) {
    .banner-container {
      
    }
    
}